@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

:root {
    --mobile-navbar-height: 0;
    --desktop-navbar-height: 0;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.3s;
}

.page-enter {
    opacity: 0;
    will-change: transform opacity;
}

.page-leave-to {
    opacity: 0;
    will-change: transform opacity;
}

@screen lg{
    .page-enter {
        opacity: 0;
        will-change: opacity;
    }
    .page-leave-to {
        opacity: 0;
        will-change: opacity;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

button {
    @apply flex items-center gap-x-1 bg-primary text-white px-2 py-2 rounded-lg shadow-sm transition-all duration-300 ease-in-out; 
    span {
        @apply text-sm;
    }
    svg {
        @apply text-sm;
    }

    &.danger {
        @apply bg-red-600 text-white;

        &:hover {
            @apply bg-red-700;
        }
    }

    &:hover {
        @apply bg-primary-dark shadow;
        transform: scale(0.98);
    }
}

input, select, textarea {
    @apply px-3 py-2 rounded-lg shadow-sm bg-transparent outline-none w-full;
    border: 1px solid #ccc;
    &::placeholder {
        @apply text-sm;
        color: #ccc;
    }
}

.el-input__inner {
    @apply text-black;
}

.el-time-panel__footer {
    @apply flex justify-center items-center gap-x-2;
}

.el-date-editor {
    width: 100% !important; 
    
    input {
        border: 1px solid #ccc !important;
        @apply rounded-lg shadow-sm bg-transparent outline-none #{!important};
    }
}